<main>
    <h2>Edit Patient</h2>
    <form [formGroup]="editPatientForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Frist Name: </mat-label>
        <input matInput type="text" formControlName="firstName" />
        @if(firstName?.hasError('required')){
        <mat-error>First name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name: </mat-label>
        <input matInput type="text" formControlName="lastName" />
        @if(lastName?.hasError('required')){
        <mat-error>Last name is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com"
        />
        <mat-hint>Errors appear instantly!</mat-hint>
        @if (email?.hasError('email') && !email?.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
        } @if (email?.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Phone number: </mat-label>
        <input matInput type="text" formControlName="phoneNumber" placeholder="Ex. (00)-000-000 or 000-000"/>
        @if(phoneNumber?.hasError('required')){
          <mat-error>Phone number is <strong>required</strong></mat-error>
        }
        @if(phoneNumber?.hasError('pattern')){
          <mat-error>Phone number format <strong> is incorrect</strong></mat-error>
        }
      </mat-form-field>
  
      <mat-form-field>
          <mat-label>Insurance: </mat-label>
          <mat-select formControlName="insurance">
              @for(insurance of patientInsurance; track insurance){
                  <mat-option value="{{insurance}}">{{insurance}}</mat-option>
              }
          </mat-select>
          @if(insurance?.hasError('required')){
              <mat-error>Insurance is <strong>required</strong></mat-error>
          }
      </mat-form-field>
  
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-75"
        [disabled]="!editPatientForm.valid"
      >
        Save
      </button>
    </form>
  </main>
  