<div class="container">
  <h2 i18n>Edit Patient</h2>
  <form [formGroup]="editPatientForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label i18n>Frist Name: </mat-label>
      <input matInput type="text" formControlName="firstName" />
      @if(firstName?.hasError('required')){
      <mat-error i18n>First name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Last name: </mat-label>
      <input matInput type="text" formControlName="lastName" />
      @if(lastName?.hasError('required')){
      <mat-error i18n>Last name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label i18n>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com" i18n-placeholder
      />
      <mat-hint i18n>Errors appear instantly!</mat-hint>
      @if (email?.hasError('email') && !email?.hasError('required')) {
      <mat-error i18n>Please enter a valid email address</mat-error>
      } @if (email?.hasError('required')) {
      <mat-error i18n>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Phone number: </mat-label>
      <input
        matInput
        type="text"
        formControlName="phoneNumber"
        placeholder="Ex. (00)-000-000 or 000-000" i18n-placeholder
      />
      @if(phoneNumber?.hasError('required')){
      <mat-error i18n>Phone number is <strong>required</strong></mat-error>
      } @if(phoneNumber?.hasError('pattern')){
      <mat-error i18n>Phone number format <strong> is incorrect</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Insurance: </mat-label>
      <mat-select formControlName="insurance">
        @for(insurance of patientInsurance; track insurance){
        <mat-option value="{{ insurance }}">{{ insurance }}</mat-option>
        }
      </mat-select>
      @if(insurance?.hasError('required')){
      <mat-error i18n>Insurance is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label i18n>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'" i18n
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      @if(password?.hasError('required')){
      <mat-error i18n>Password is <strong>required</strong></mat-error>
      } @if(password?.hasError('minlength') && !password?.hasError('required')){
      <mat-error i18n>Password have to be at least 8 characters</mat-error>
      }
    </mat-form-field>
    <div class="button-group">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="w-75"
        [disabled]="!editPatientForm.valid"
      >
        <span i18n>Save</span>
      </button>
    </div>
  </form>
</div>
