<div class="container">
  <h2 i18n>Insert Category</h2>
  <form [formGroup]="createCategoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label i18n>Category Name: </mat-label>
      <input matInput type="text" formControlName="name" />
      @if(name?.hasError('required')){
      <mat-error i18n>Category name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
<div class="row  justify-content-center">
    <div class="col">
        <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-75"
        [disabled]="!createCategoryForm.valid"
        i18n
      >
        Save Category
      </button>
    </div>

</div>

  </form>
</div>
