<div class="container">
  <h2 i18n>Edit Category</h2>
  <form [formGroup]="editCategoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label i18n>Category Name: </mat-label>
      <input matInput type="text" formControlName="name" />
      @if(name?.hasError('required')){
      <mat-error i18n>Category name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <div class="row justify-content-center">
      <div class="col">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="w-75"
          [disabled]="!editCategoryForm.valid"
        >
          <span i18n>Save Category</span>
        </button>
      </div>
    </div>
  </form>
</div>
