<div class="auth-page">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title i18n>Sign in</mat-card-title>
      <mat-card-subtitle i18n>Enter your credentials</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label i18n>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ex. pat@example.com" i18n-placeholder
        />
        @if (email?.hasError('email') && !email?.hasError('required')) {
        <mat-error i18n>Please enter a valid email address</mat-error>
        } @if (email?.hasError('required')) {
        <mat-error i18n>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide() ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'" i18n-aria-label
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        @if(password?.hasError('required')){
        <mat-error i18n>Password is <strong>required</strong></mat-error>
        } @if(password?.hasError('minlength') &&
        !password?.hasError('required')){
        <mat-error i18n>Password have to be at least 8 characters</mat-error>
        }
      </mat-form-field>
      <div class="auth-buttons">
        <button
          mat-stroked-button
          color="primary"
          type="submit"
          class="w-75"
          [disabled]="!loginForm.valid"
        >
          <span i18n>Login</span>
        </button>

        <button
          routerLink="/register"
          mat-flat-button
          class="btn-tertiary"
          type="submit"
          class="w-75"
        >
          <span i18n>Create Account</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>
